@import "../.././scss/utils/config";
@import "../.././scss/utils/color";

.contact {
  @include Flex-Box(row, space-around, center);
  font-family: "Vazir-Regular";
  flex-wrap: wrap;
  margin-top: 40px;
  & img {
    width: 600px;
  }
  &__info {
    @include Flex-Box(row, space-around, center);
    flex-wrap: wrap;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    width: 600px;
    background-color: $milky;
    & a {
      @include Flex-Box(row, space-around, center);
      background-color: $purple;
      color: $white;
      border-radius: 5px;
      cursor: pointer;
      border: none;
      font-family: "Vazir-Regular";
      text-decoration: none;
      margin: 30px;
      width: 200px;
      height: 50px;
      &:hover {
        background-color: $light-purple;
        transition: .5s;
      }
    }
  }
}
