$white: #ffffff;
$lighter-gray: #f0f0f0;
$light-gray: #d3d3d3;
$gray: #808080;
$dark-gray: #636363;
$darker-gray: #333333;
$black: #000000;
$light-blue: #17c3b2;
$blue: #227c9d;
$blue-opacity-50: #227c9dcc;
$pink: #fe6d73;
$light-orange: #ffcb77;
$milky: #fef9ef;
$green: #0ead69;
$red: #e3242b;
