@import "../.././scss/utils/config";
@import "../.././scss/utils/color";
.navbar {
  @include Flex-Box(row, space-evenly, stretch);
  width: 100%;
  padding-top: 10px;
  font-family: "Vazir-Regular";
  font-size: 20px;
  img {
    width: 50px;
  }
  nav {
    width: 60%;

    .nav {
      @include Flex-Box(row-reverse, space-around, center);
      li {
        margin-right:30px;
        list-style-type: none;

        .link {
          color: $white;
          text-decoration: none;
        }
        .active {
          color: $white;
          text-decoration: none;
          border-bottom: 3px solid $blue;
        }
      }
    }
  }
}
